@font-face {
  font-family: 'Georgia';
  src: url('../../assets/fonts/GeorgiaBold.woff2') format('woff2');
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Georgia';
  src: url('../../assets/fonts/GeorgiaRegular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Georgia';
  src: url('../../assets/fonts/GeorgiaItalic.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Arial';
  src: url('../../assets/fonts/ArialMT.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Arial';
  src: url('../../assets/fonts/ArialItalicMT.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
.page {
  height: 100%;
  font-family: "Georgia", 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
}
.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}
.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}
.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1280px;
}

/* header */

.header {
  position: fixed;
  background: #FFFFFF;
  z-index: 5;
  /* left: 0; */
  /* top: 0; */
  width: 100%;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 60px;
}
.logo__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 0.06em;
  
}
.logo__link {
  color: #545454;
}
.logo__subtitle {
  display: block;
  margin-top: 10px;
  margin-left: 4px;
  font-family: 'Arial';
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #292929;
}
.nav__list {
  display: flex;
  transform: translate(-2px, -2px)

}
.nav__item:not(:last-child) {
  margin-right: 35px;
}
.nav__link {
  padding-bottom: 5px;
  font-family: 'Arial';
  font-size: 15px;
  line-height: 24px;
  color: #545454;
  transition: 0.1s ease-in-out;
}
.nav__link-active {
  border-bottom: 3px solid #F1CDB3;
}
.nav__link:hover {
  color: #292929
}
.nav__link:active {
  border-bottom: 3px solid #F1CDB3;
  color: #545454;
}
/* friends */

.friends {
  background: #F6F6F6;
}
.friends__container {
  padding-top: 200px;
  padding-bottom: 100px;
}
.friends__wrap-title {
  text-align: center;
}
.friends__title {
  max-width: 35%;
  display: inline-block;
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
}
.friends__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.friends__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 30px;
  margin-bottom: 30px;
  height: 435px;
  border-radius: 9px;
  background-color: #FAFAFA;
  transition: 0.2s ease-in-out;
}
.friends__item:hover {
  background-color: #FFFFFF;
  
}
.friends__card-img {
  max-height: 270px;
}
.friends__card-img img {
  height: auto;
}

.friends__card-name {
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}
.friends__card-btn {
  margin-left: 41px;
  padding: 12px 44px;
  max-width: fit-content;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  text-align: center;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  transition: 0.2s ease-in-out;
}
.friends__item:hover .friends__card-btn {
  background-color: #F1CDB3;
}
.friends__card-btn__link {
  color: #292929;
}
.friends__wrap-pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 20px;
}
.friends__pagination {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  transition: 0.2s ease-in-out;
}
.friends__btn-num {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  border-radius: 100px;
  transition: 0.2s ease-in-out;
}
.friends__btn-num:hover {
  background: #F1CDB3;
}
.friends__btn-num:active {
  background: #F1CDB3;
}
.btn-num-active {
  background: #F1CDB3;
}

.friends__btns__left {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 27px;
  height: 23px;
  background-image: url('../../assets/icons/btn-lefts.svg'); 
  background-position: center;
  background-repeat: no-repeat;
}
.friends__buttons__left {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 13px;
  height: 23px;
  background-image: url('../../assets/icons/btnleft.svg'); 
  background-position: center;
  background-repeat: no-repeat;
}
.friends__buttons__right {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 13px;
  height: 23px;
  background-image: url('../../assets/icons/btnright.svg'); 
  background-position: center;
  background-repeat: no-repeat;
}
.friends__btns__right {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 27px;
  height: 23px;
  background-image: url('../../assets/icons/btn-rights.svg'); 
  background-position: center;
  background-repeat: no-repeat;
}
.btn-inactive {
  border: 2px solid #CDCDCD;
}



/* footer */ 
.footer {
  background-image: url('../../assets/images/footer-gradient-background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer__container {
  position: relative;
}
.footer__contacts {
  display: inline-block;
  margin-right: 151px;
}
.footer__location {
  display: inline-block;
}
.footer__contacts__title {
  margin-top: 56px;
  max-width: 285px;
}
.footer__title {
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
.footer__contacts__wrap-mail {
  display: flex;
  align-items: center;
  margin-top: 43px;
  margin-bottom: 43px;
}
.footer__contacts__wrap-phone {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}
.foooter__contacts__icon-mail {
  display: inline-block;
  margin-right: 20px;
  width: 40px;
  height: 26px;
  background-image: url('../../assets/icons/icon-email.svg');
  background-position: center;
  background-repeat: no-repeat;
}
.foooter__contacts__icon-phone {
  display: inline-block;
  margin-right: 20px;
  width: 40px;
  height: 32px;
  background-image: url('../../assets/icons/icon-phone.svg');
  background-position: center;
  background-repeat: no-repeat;
}
.footer__contacts__link {
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}
.footer__location__title {
  max-width: 270px;
}
.footer__location__locate {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 320px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}
.footer__location__wrap-first {
  display: flex;
  align-items: center;
  margin-top: 28px;
  margin-bottom: 37px;
  transform: translate(-2px, 4px);

}
.footer__location__wrap-second {
  display: flex;
  align-items: center;
}
.footer__location__icon-locate {
  display: inline-block;
  margin-right: 20px;
  width: 22px;
  height: 32px;
  background-image: url('../../assets/icons/icon-marker.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.footer__puppy-img {
  position: absolute;
  top: 40px;
  right: 40px;
  height: auto;
  object-fit: contain;
}