@font-face {
  font-family: 'Georgia';
  src: url('../../assets/fonts/GeorgiaBold.woff2') format('woff2');
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Georgia';
  src: url('../../assets/fonts/GeorgiaRegular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Georgia';
  src: url('../../assets/fonts/GeorgiaItalic.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Arial';
  src: url('../../assets/fonts/ArialMT.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Arial';
  src: url('../../assets/fonts/ArialItalicMT.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
.page {
  height: 100%;
  font-family: "Georgia", 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
}
.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
  overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}
.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}
.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1280px;
}

/* header */
.burger {
  display: none;
}
.header__container {
  height: 60px;
}
.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}
.logo__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 0.06em;
}
.logo__link {
  color: #F1CDB3;
}
.logo__subtitle {
  display: block;
  margin-top: 10px;
  margin-left: 4px;
  font-family: 'Arial';
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}
.nav__list {
  display: flex;
  transform: translate(-2px, -2px)
  
}
.nav__item:not(:last-child) {
  margin-right: 35px;
}
.nav__link {
  padding-bottom: 5px;
  font-family: 'Arial';
  font-size: 15px;
  line-height: 24px;
  color: #CDCDCD;
  transition: 0.2s ease-in-out;
}
.nav__link-active {
  border-bottom: 3px solid #F1CDB3;
}
.nav__link:hover {
  color: #FAFAFA;
}
.nav__link:active {
  border-bottom: 3px solid #F1CDB3;
  color: #FAFAFA;
}
.menu__logo {
  display: none;
  transition: all 0.3s ease-in-out;

}
.shadow {
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
/* hero */

.hero {
  min-height: 800px;
  max-height: 908px;
  background-image: url("../../assets/images/heroback.png") ;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__container {
  display: flex;
  padding-top: 180px;
}
.hero__content {
  max-width: 460px;
  padding-top: 163px;
}
.hero__title {
  font-weight: 400;
  margin-bottom: 42px;
  max-width: 70%;
  font-size: 44px;
  line-height: 57px;
  color: #FFFFFF;
}
.hero__descr {
  margin-bottom: 42px;
  font-family: 'Arial';
  font-size: 15px;
  line-height: 24px;
  color: #CDCDCD;
}
.hero__btn {
  padding: 15px 45px;
  border-radius: 100px;
  background: #F1CDB3;
  transition: 0.2s ease-in-out;
}
.hero__btn:hover {
  background: #FDDCC4;
}
.hero__link {
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #292929
}
.hero__image {
  max-height: 728px;
  margin-left: 42px;
}
.hero__image img {
  max-width: none;
}
/* * ABOUT */ 
.about__image {
  display: inline-block;
  margin-top: 80px;
  margin-bottom: 96px;
  margin-left: 175px;
}
.about__content {
  display: inline-block;
  margin-left: 117px;
  max-width: 430px;
  transform: translateY(-20px);
}
.about__title {
  margin-bottom: 25px;
  max-width: 90%;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
  transform: translateY(-3px);
}
.about__descr {
  font-family: "Arial";
  font-size: 15px;
  line-height: 24px;
  color: #4C4C4C;
}
.about__descr:not(:last-child) {
  transform: translateY(-4px);
  margin-bottom: 22px;
  
}
/* friends */

.friends {
  background: #F6F6F6;
}
.friends__container {
  position: relative;
  padding-top: 83px;
  padding-bottom: 100px;
}
.friends__pagination {
  position: absolute;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  transition: 0.2s ease-in-out;
  z-index: 10;
}
.friends__pagination:hover {
  background: #FDDCC4;
}
.friends__pagination:nth-child(2) {
  bottom: 403px;
}
.friends__pagination:first-child {
  right: 40px;
  bottom: 403px;
}
.first {
  display: inline-block;
  width: 14px;
  height: 8px;
  background-image: url('../../assets/icons/arrow-right.svg');
  background-position: center;
  background-repeat: no-repeat;
  transform: translateY(-1px);
}
.second {
  display: inline-block;
  width: 14px;
  height: 8px;
  background-image: url('../../assets/icons/arrow-left.svg'); 
  background-position: center;
  background-repeat: no-repeat;
  transform: translateY(-1px);
}
.friends__wrap-title {
  text-align: center;
}
.friends__title {
  display: inline-block;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
  transform: translate(1px, -2px);
}
.friends__title-second {
  display: block;
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
  transform: translate(1px, -2px);
}
.friends__list {
  display: flex;
  padding-left: 105px;
  padding-bottom: 57px;
  gap: 90px;
}
.friends__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 30px;
  width: 270px;
  height: 435px;
  border-radius: 9px;
  background-color: #FAFAFA;
  transition: all 0.2s ease-in-out;
  transform: translateY(-3px);
  cursor: pointer;
}
.friends__item:hover {
  background-color: #FFFFFF;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  
}
.friends__card-img {
  max-height: 270px;
}
.friends__card-img img {
  height: auto;
}

.friends__card-name {
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  transform: translateX(1px)
}
.friends__card-btn {
  margin-left: 41px;
  padding: 13px 43px;
  max-width: fit-content;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  text-align: center;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  transition: 0.2s ease-in-out;
}
.friends__item:hover .friends__card-btn {
  background-color: #F1CDB3;
}
.friends__card-btn__link {
  color: #292929;
}
.friends-wrap__btn-rest {
  text-align: center;
}
.friends__btn-rest {
  padding: 15px 45px;
  background: #F1CDB3;
  border-radius: 100px;
  transition: 0.2s ease-in-out;
}
.friends__link-rest {
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #292929;
}
.friends__btn-rest:hover {
  background: #FDDCC4;
}

/* modals */
.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
}

.modal {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 950px;
  height: 550px;
  border-radius: 10px;
  display: none;
}

.modal-overlay--visible {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}
.modal__content {
  display: flex;
  gap: 29px;
  width: 900px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  transform: translateY(48px);
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.modal--visible {
  display: flex;

}


.modal-close {
  position: absolute;
  top: 15px;
  right: 0;
  display: inline-block;
  width: 52px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  background-image: url('../../assets/icons/close.svg');
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.modal-close:hover {
  background: #FDDCC4;
  background-image: url('../../assets/icons/close.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.close-hover {
  background: #FDDCC4;
  background-image: url('../../assets/icons/close.svg');
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s ease-in-out;
}

.modal__list {
  display: flex;
  flex-direction: column;
}
.modal__item {
  background-image: url('../../assets/icons/dot.svg');
  background-position: left;
  background-repeat: no-repeat;


}
.modal__item span {
  display: block;
  padding-left: 10px;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.06em;
}
.modal__image {
  max-width: 500px;
  flex: 0 1 60%;
}
.modal__image img {
  max-width: none;
  border-radius: 10px 0 10px 10px;
}
.modal__wrap {
  flex: 0 1 40%;
  margin-top: 50px;
  margin-right: 20px;
}
.modal__title {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #000000;
}
.modal__type {
  display: block;
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}
.modal__descr {
  margin-bottom: 40px;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.06em;
}


/* HOw */
.help {
  background-color: #FFFFFF;
}
.help__container {
  padding-top: 80px;
  padding-bottom: 100px;
}
.help__wrap-title {
  text-align: center;
}
.help__title {
  display: inline-block;
  max-width: 30%;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
  transform: translate(1px, 1px);
}
.help__wrap-list {
  padding: 0 87px;
}
.help__list-first {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 55px;
}
.help__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.help__item img {
  display: block;
  text-align: center;
}
.help__item-title {
  display: block;
  margin-top: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
  transform: translateX(1px);
}
.help__list-second {
  display: flex;
  justify-content: space-between;
  padding: 0 84px;
} 
.help__list__mobile {
  display: none;
}
/* donation */
.donation {
  background-color: #F6F6F6;
}
.donation__container {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 100px;
}
.donation__image {
  max-width: 505px;
  flex:  0 1 65%;
  transform: translateX(21px);
}
.donation__image img {
  object-fit: contain;
}
.donation__content {
  margin-left: 30px;
  flex: 0 1 35%;
  transform: translateX(21px);
}
.donation__title {
  max-width: 300px;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
  transform: translateY(1px);
}
.donation__subtitle {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.06em;
  color: #545454;
}
.donation__wrap-bank {
  max-width: 350px;
  padding: 10px 15px;
  background: #F1CDB3;
  border-radius: 9px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.donation__wrap-bank:hover {
  background: #FDDCC4;
}
.donation__bank__icon {
  display: inline-block;
  background-image: url('../../assets/icons/credit-card.svg');
  width: 30px;
  height: 23px;
}
.donation__link {
  display: flex;
  justify-content: center;
}
.donation__bank {
  margin-left: 15px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}
.donation__descr {
  max-width: 90%;
  margin-top: 20px;
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
}
/* footer */ 
.footer {
  background-image: url('../../assets/images/footer-gradient-background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer__container {
  display: flex;
  justify-content: space-between;
}
.footer__contacts {
  display: inline-block;
  margin-top: 57px;
  flex-basis: 33.33%;
}
.footer__location {
  display: inline-block;
  margin-top: 57px;
  flex-basis: 33.33%;
  transform: translateX(-10px);

}
.footer__image {
  margin-top: 40px;
}
.footer__contacts__title {
  max-width: 78%;
}
.footer__title {
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
.footer__contacts__wrap-mail {
  display: flex;
  align-items: center;
  margin-top: 42px;
  margin-bottom: 43px;
}
.footer__contacts__wrap-phone {
  display: flex;
  align-items: center;
}
.foooter__contacts__icon-mail {
  display: inline-block;
  margin-right: 20px;
  width: 40px;
  height: 26px;
  background-image: url('../../assets/icons/icon-email.svg');
  background-position: center;
  background-repeat: no-repeat;
}
.foooter__contacts__icon-phone {
  display: inline-block;
  margin-right: 20px;
  width: 40px;
  height: 32px;
  background-image: url('../../assets/icons/icon-phone.svg');
  background-position: center;
  background-repeat: no-repeat;
}
.footer__contacts__link {
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}
.footer__location__title {
  max-width: 75%;
}
.footer__location__locate {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 320px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}
.footer__location__wrap-first {
  display: flex;
  align-items: center;
  margin-top: 28px;
  margin-bottom: 37px;
  transform: translate(-2px,4px);
}
.footer__location__wrap-second {
  display: flex;
  align-items: center;
  transform: translateX(-2px);

}
.footer__location__icon-locate {
  display: inline-block;
  margin-right: 20px;
  width: 22px;
  height: 32px;
  background-image: url('../../assets/icons/icon-marker.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.footer__puppy-img {
  display: block;
  height: auto;
  object-fit: contain;
}

.stop-scroll {
  overflow: hidden;
}

@media (max-width: 1226px) {
  .friends__item-woody {
    display: none;
  }
  .friends__list {
    padding-left: 0;
    justify-content: center;
  }
}
@media (max-width: 1151px) {
  .footer__contacts__title {
    max-width: 87%;
  }
  .footer__location__title {
    max-width: 87%;
  }
}
@media (max-width: 1104px) {
  .about__content {
    margin-left: 20px;
  }
}
@media (max-width: 1060px) {
  .hero {
    max-height: fit-content;
  }
  .hero__container {
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
  }
  .hero__content {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
  }
  .hero__wrapper-btn {
    text-align: center;
  }
  .hero__btn {
    max-width: fit-content;
  }
  .hero__image {
    margin-top: 97px;
    margin-left: 0px;
  }
  .about__image {
    margin-left: 0px;
    margin-bottom: 96px;
  }
  .about__descr:not(:last-child) {
    margin-bottom: 20px;
  }
  .about__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about__content {
    margin-top: 85px;
    margin-left: 0;
    order: -1;
    transform: translateY(0);
  }
  .friends__title {
    max-width: 45%;
  }
  .donation__container {
    flex-direction: column;
    align-items: center;
  }
  .donation__content {
    margin-right: 0;
    margin-left: 0;
    max-width: 380px;
    order: -1;
  }
  .donation__image {
    margin-top: 60px;
    margin-left: 0;
  }
  .help__wrap-title {
    margin-bottom: 60px;
  }
  .help__container {
    padding-bottom: 45px;
  }
  .help__wrap-list {
    display: none;
  }
  .help__item {
    margin-bottom: 55px;
    flex: 0 1 33.33%;

  }
  .help__list__mobile {
    display: flex;
    flex-wrap: wrap;
  }
  .footer__contacts__title {
    max-width: 78%;
  }
  .footer__location__title {
    max-width: 80%;
  }
  .footer__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-right: 30px;
    padding-left: 30px;
  }
  .footer__contacts {
    margin-top: 30px;
    margin-left: 34px;
    flex-basis: 40%;
  }
  .footer__location {
    margin-top: 30px;
    margin-right: 34px;
    flex-basis: 40%;
  }
  .footer__image {
    margin-top: 65px;
    flex-basis: 100%;
    text-align: center;
  }
  .footer__image {
    display: flex;
    justify-content: center;

  } 
  .modal {
    max-width: 90%;
    height: fit-content;
  }
  .modal__content {
    max-width: 93%;

  }
  .modal__image {
    max-width: fit-content;
    flex: 0 1 54.5%;
  }
  .modal__image img {
    max-width: 100%;
  }
}
@media (max-width: 965px) {
  .footer__contacts__title {
    max-width: 88%;
  }
  .footer__location__title {
    max-width: 90%;
  }
  .modal__content {
    height: fit-content;
    gap: 11px
  }
  .modal__wrap {
    margin-top: 10px;
    margin-right: 5px;
  }
  .modal__type {
    margin-bottom: 20px;
  }
  .modal__descr {
    margin-bottom: 20px;
  }
  
}
@media (max-width: 880px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
  .header__container {
    margin-top: 30px;
  }
  .hero__image {
    display: block;
    text-align: end;
  }
  .hero__image img {
    max-width: 81.3%;
    transform: translate(3px,4px);
  }
  .help__title {
    max-width: 45%;
  }
  .footer__contacts__title {
    max-width: 95%;
  }
  .footer__location__title {
    max-width: 95%;
  } 
  
}
@media (max-width: 796px) {
  .footer__contacts__title {
    max-width: 100%;
  }
  .footer__location__title {
    max-width: 100%;
  } 
  .footer__contacts {
    flex-basis: 40%;
  }
  .footer__location {
    flex-basis: 42%;
    width: 302px;
    transform: translateX(-5px);
  }
  .friends__pagination:first-child {
    right: 31px;
  }
  .donation__container {
    padding-bottom: 96px;
  }
  .donation__image {
    transform: none;
  }
  .donation__content {
    transform: none;
  }
  
}
@media (max-width: 766px) {
  .modal {
    width: 315px;
  }
  .modal__image {
    display: none;
  }
  .modal__content {
    align-self: center;
    width: 240px;
  }
  .modal__wrap {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    padding: 10px;
    flex: 0 1 100%
  }
  .modal__list {
    align-self: flex-start
  }
  .modal-close {
    top: -2px;
  }
}
@media (max-width: 750px) {
  /* .nav {
    display: none
  } */
  .stop-scroll {
    overflow: hidden;
  }
  .logo__title {
    position: relative;
    z-index: 2000;
  }
  .burger {
    display: block;
    margin-right: 23px;
    margin-left: auto;
    position: relative;
    width: 30px;
    height: 22px;
    z-index: 1000;
  }
  .burger--active .burger__line:nth-child(2) {
    left: 0;
    top: 4px;
    transform: rotate(-90deg);
    transition:  0.2s ease-in-out;

  }
  .burger--active .burger__line:first-child {
    top: 14px;
    left: -10px;
    transform: rotate(-90deg);
    transition:  0.2s ease-in-out;
  }
  .burger--active .burger__line:last-child {
    top: -6px;
    left: 10px;
    transform: rotate(-90deg);
    transition:  0.2s ease-in-out;
  }
  .burger__line {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 1px;
    border: 1px solid #F1CDB3;
    transform: translateX(-50%) translateY(-50%);
    transition: 0.2s ease-in-out;

  }
  .burger__line:first-child {
    margin-top: -10px;
  }
  .burger__line:last-child {
    margin-top: 10px;
  }
  .friends__item-jennifer {
    display: none;
  }
  .nav {
    position: fixed;
    right:  0;
    top: 0;
    z-index: 500;
    overflow-y: auto;
    width: 320px;
    height: 100vh;
    background-color: #292929;;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    
    /* -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; */
  }
  .nav--visible {
    transform: none;
  }

  .nav__list {
    padding-top: 250px;
    flex-direction: column;
    align-items: center;
  }
  .nav__item:not(:last-child) {
    margin-bottom: 40px;
    margin-right: 0;
  }
  .nav__link {
    font-size: 32px;
    line-height: 51px;
  }
  .menu__logo--visible {
    display: block;
  }
  .menu__logo {
    position: absolute;
    top: 30px;
    left: 30px;
  }
  .logo--hidden {
    display: none;
    
  }
  .shadow-open {
    display: block;
    opacity: 1;
    
  }
  .footer__container {
    flex-direction: column;
    align-items: center;
  }
  .footer__contacts {
    width: 279px;
    margin-left: 0;
  }
  .footer__location {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    margin-right: 0;
  }
  .footer__location__wrap-second {
    width: 302px;
  }
  .footer__location__wrap-title {
    width: 270px;
  }
  .footer__contacts__wrap-phone {
    margin-bottom: 40px;
  }

}
/* @media (max-width: 620px) {
  .modal-close {
    top: -5px;
    right: -5px;
  }
} */
@media (max-width: 528px) {
  .help__item {
    align-self: center;
    flex: 0 1 50%;
  }
}
@media (max-width: 460px) { 
  .logo {
    transform: translateY(1px);
  }
  .hero__image img {
    transform: translate(0px, 4px);
  }
  .about__content {
    margin-top: 44px;
  }
  .about__image {
    margin-top: 41px;
    margin-bottom: 38px;
  }
  .about__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about__descr:not(:last-child) {
    transform: translateY(-2px);
  }
  .about__descr {
    padding-right: 15px;
    padding-left: 15px;
    text-align: justify;
  }
  .about__image {
    padding-right: 20px;
    padding-left: 20px;
  }
  .help__container {
    padding-top: 42px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 42px;
  }
  .help__wrap-title {
    margin-bottom: 42px;
  }
  .help__title {
    max-width: 90%;
  }
  .help__list__mobile {
    justify-content: space-between;
    row-gap: 30px;
  }
  .help__item {
    flex: 0 1 130px;
    margin-bottom: 0;
  }
  .help__item:not(:last-child) {
    margin-bottom: 0px;
  }
  .help__item:last-child {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;
    align-self: flex-start;
    align-content: flex-start;
    text-align: start;
  }
  .help__item-title {
    margin-top: 20px;
  }
  .friends__container {
    padding-top: 44px;
    padding-bottom: 42px;
  }
  .friends__title-second {
    margin-bottom: 43px;
  }
  .friends__title {
    max-width: 100%;
  }
  .friends__list {
    padding-bottom: 111px;
  }
  .friends__pagination:nth-child(2) {
    left: 68px;
    bottom: 137px;
  }
  .friends__pagination:first-child {
    right: 68px;
    bottom: 137px;
  }
  .donation__container {
    padding-top: 42px;
    padding-bottom: 39px;
  }
  .donation__image {
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 42px;
  }
  .donation__descr {
    max-width: 100%;
  }
  .modal__descr {
    font-size: 13px;
    line-height: 14.3px;
    text-align: justify;
    letter-spacing: 0.06em;

}
}
@media (max-width: 425px) {
  .burger {
    margin-right: 43px;

  }
  .menu__logo {
    position: absolute;
    top: 30px;
    left: 10px;
  }
  .container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .help__container {
    padding-right: 15px;
    padding-left: 15px;

  }
  .hero__title {
    max-width: 70%;
    align-self: center;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.06em;
    text-align: center;
  }
  .hero__descr {
    text-align: center;
  }
  .hero__image {
    margin-top: 102px;
  }
  .hero__image img {
    max-width: 86.5%;
  }
  
  .about__title {
    max-width: 85%;
    align-self: center;
    font-size: 25px;
    line-height: 32px;
    text-align: center;
  }

  .friends__title {
    font-size: 25px;
    line-height: 32px;
    transform: translate(1px, -2px);
  }   
  .friends__title-second {
    font-size: 25px;
    line-height: 32px;
    transform: translate(1px, -2px);
  }
  .help__title {
    font-size: 25px;
    line-height: 32px;
  }
  .help__item img {
    max-width: 50px;
    max-height: 50px;
  }
  .help__item-title {
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.06em;
  }
  .donation__title {
    max-width: 82%;
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    transform: translateX(26px);
  }
  .donation__content {
    padding-right: 10px;
    padding-left: 10px;
  }
  .donation__subtitle {
    line-height: 24px;
    letter-spacing: normal;
    transform: translateX(3px);
  }
  .donation__wrap-bank {
    padding: 10px 13px;
  }
  .donation__bank {
    font-size: 15px;
    line-height: 17px;
  }
  .donation__link {
    justify-content:unset;
    align-items: center;
  }
  .donation__descr {
    text-align: justify;
  }
  .footer__title {
    font-size: 25px;
    line-height: 32px;
    text-align: center;
  }
  .footer__contacts__title {
    transform: translate(-1px, -1px);
  }
  .footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }
  .footer__location__wrap-title {
    display: flex;
    justify-content: center;
  }
  .footer__contacts__wrap-mail {
    margin-top: 42px;
    margin-bottom: 44px;
    transform: translate(-1px, 1px);
  }
  .foooter__contacts__icon-mail {
    transform: translateY(-1px);
  }
  .footer__contacts__wrap-phone {
    margin-bottom: 39px;
    transform: translate(-1px, 0px);
  }
  .foooter__contacts__icon-phone {
    transform: translateY(-1px);
  }
  .footer__location {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__location__wrap-first {
    margin-top: 40px;
    margin-bottom: 40px;
    transform: translateX(5px);
  }
  .footer__location__wrap-second {
    width: 300px;
    transform: translateX(4px);

  }
  .footer__location__title {
    max-width: 80%;
    transform: translateX(4px);
  }
  .footer__image {
    margin-top: 40px;
  }
  .footer__puppy-img {
    max-width: 260px;
  }
}


.friends__wrapper {
  display: flex;
  margin-left: 105px;
  margin-right: 105px;
}

.carousel-wrapper {
  max-width: 990px;
  align-self: center;

  overflow: hidden;
}
@media (max-width: 1279px) {
  .friends__wrapper {
    justify-content: center;

  }
  .carousel-wrapper {
    max-width: 630px;
  
  }
  .carousel {
    left: -630px;
  }
  .friends__list {
    margin-left: 140px;
    margin-right: 140px;
    gap: 40px;
  }
  .friends__list li:last-child {
    display: none;
  }
  @keyframes move-right {
    from {left: -630px;}
    to {left: -1260px;}
  }
  @keyframes move-left {
    from {left: -630px;}
    to {left: 0px;}
  }

}
@media (max-width: 870px) {
  .friends__item {
    max-width: 270px;
  }
  .friends__wrapper {
    margin-left: 50px;
    margin-right: 0;
  }
  .friends__list {
    margin-left: 130px;
    margin-right: 130px;
    gap: 40px;
  }
  
}
@media (max-width: 767px) {
  .friends__list li:last-child {
    display: none;
  }
  .friends__list li:first-child {
    display: none;
  }
  .friends__list {
    align-self: center;
    justify-content: center;
    margin-left: 115px;
    margin-right: 130px;
    /* gap: 40px; */
  }
  
}

@media (max-width: 616px) {
  .friends__list {
    display: flex;
    margin-left: 80px;
    margin-right: 130px;
  }
  .friends__list li {
    align-self: center;
  }
}
@media (max-width: 485px) {
  .friends__list {
    margin-left: 60px;
    margin-right: 130px;
  }
}
@media (max-width: 400px) {
  .friends__list {
    margin-left: 60px;
  }
}
.carousel {
  display: flex;
  position: relative;
  left: -990px;
}


@keyframes move-right {
  from {left: -990px;}
  to {left: -1980px;}
}

.transition-right {
  animation-name: move-right;
  animation-duration: 1s;
}

@keyframes move-left {
  from {left: -1095px;}
  to {left: 0px;}
}

.transition-left {
  animation-name: move-left;
  animation-duration: 1s;
}

.hidden {
  display: none;
}
.friends__list {
  padding-left: 0px;
}

.modal-close:hover {
  background-color: #FDDCC4;

}
.modal-overlay:hover .modal-close {
  background-color: #FDDCC4;
}

.modal:hover .modal-close {
  background-color: transparent;
}
.modal:hover .modal-close:hover {
  background-color: #FDDCC4;
}