@font-face {
  font-family: 'Georgia';
  src: url('../../assets/fonts/GeorgiaBold.woff2') format('woff2');
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Georgia';
  src: url('../../assets/fonts/GeorgiaRegular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Georgia';
  src: url('../../assets/fonts/GeorgiaItalic.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Arial';
  src: url('../../assets/fonts/ArialMT.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Arial';
  src: url('../../assets/fonts/ArialItalicMT.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
.page {
  height: 100%;
  font-family: "Georgia", 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
}
.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}
.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}
.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1280px;
}

/* header */

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}
.logo__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 0.06em;
  
}
.logo__link {
  color: #F1CDB3;
}
.logo__descr {
  margin-top: 10px;
  font-family: 'Arial';
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}
.nav__list {
  display: flex;
}
.nav__item:not(:last-child) {
  margin-right: 35px;
}
.nav__link {
  padding-bottom: 5px;
  font-family: 'Arial';
  font-size: 15px;
  line-height: 24px;
  color: #CDCDCD;
  transition: 0.2s ease-in-out;
}
.nav__link:hover {
  border-bottom: 1px solid #F1CDB3;
  color: #FAFAFA;
}
/* hero */

.hero {
  min-height: 800px;
  background-image: url("../../assets/images/heroback.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__container {
  display: flex;
  padding-top: 180px;
}
.hero__content {
  max-width: 460px;
  padding-top: 163px;
}
.hero__title {
  font-weight: 400;
  margin-bottom: 42px;
  max-width: 70%;
  font-size: 44px;
  line-height: 57px;
  color: #FFFFFF;
}
.hero__descr {
  margin-bottom: 42px;
  font-family: 'Arial';
  font-size: 15px;
  line-height: 24px;
  color: #CDCDCD;
}
.hero__btn {
  padding: 15px 45px;
  border-radius: 100px;
  background: #F1CDB3;
}
.hero__link {
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #292929
}
.hero__image {
  margin-left: 60px;
}
/* * ABOUT */ 
.about__image {
  display: inline-block;
  margin-top: 80px;
  margin-bottom: 100px;
  margin-left: 175px;
}
.about__content {
  display: inline-block;
  margin-left: 120px;
  max-width: 430px;
}
.about__title {
  margin-bottom: 25px;
  max-width: 90%;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
}
.about__descr {
  font-family: "Arial";
  font-size: 15px;
  line-height: 24px;
  color: #4C4C4C;
}
.about__descr:not(:last-child) {
  margin-bottom: 25px;
  
}
/* friends */
.friends {
  background: #F6F6F6;
}
.friends__container {
  padding-top: 60px;
  padding-bottom: 100px;
}
.friends__wrap-title {
  text-align: center;
}
.friends__title {
  max-width: 35%;
  display: inline-block;
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
}
.friends__list {
  display: flex;
  justify-content: space-between;
}
.friends__item {
  margin-bottom: 60px;
  border-radius: 9px;
  background-color: #FAFAFA;;
}
.friends__card-name {
  display: block;
  margin-top: 30px;
  margin-bottom: 45px;
  text-align: center;
}
.friends__card-btn {
  display: block;
  margin-bottom: 45px;
  margin-left: 41px;
  padding: 15px 45px;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  text-align: center;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
}
.friends__card-btn__link {
  color: #292929;
}
.friends-wrap__btn-rest {
  text-align: center;
}
.friends__btn-rest {
  padding: 15px 45px;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  background: #F1CDB3;
  border-radius: 100px;
  color: #292929;
}
/* HOw */
.help__container {
  padding-top: 80px;
  padding-bottom: 100px;
}
.help__wrap-title {
  text-align: center;
}
.help__title {
  display: inline-block;
  max-width: 30%;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
}
.help__list-first {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  margin-bottom: 55px;
}
.help__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.help__item img {
  display: block;
  text-align: center;
}
.help__item-title {
  display: block;
  margin-top: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}
.help__list-second {
  display: flex;
  justify-content: space-evenly;
} 


