@font-face {
  font-family: 'Georgia';
  src: url('../../assets/fonts/GeorgiaBold.woff2') format('woff2');
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Georgia';
  src: url('../../assets/fonts/GeorgiaRegular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Georgia';
  src: url('../../assets/fonts/GeorgiaItalic.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Arial';
  src: url('../../assets/fonts/ArialMT.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Arial';
  src: url('../../assets/fonts/ArialItalicMT.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
.page {
  height: 100%;
  font-family: "Georgia", 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
}
.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}
.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}
.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1280px;
}

/* header */

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}
.logo__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 0.06em;
}
.logo__link {
  color: #F1CDB3;
}
.logo__subtitle {
  display: block;
  margin-top: 10px;
  margin-left: 4px;
  font-family: 'Arial';
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}
.nav__list {
  display: flex;
  transform: translate(-2px, -2px)
  
}
.nav__item:not(:last-child) {
  margin-right: 35px;
}
.nav__link {
  padding-bottom: 5px;
  font-family: 'Arial';
  font-size: 15px;
  line-height: 24px;
  color: #CDCDCD;
  transition: 0.2s ease-in-out;
}
.nav__link-active {
  border-bottom: 3px solid #F1CDB3;
}
.nav__link:hover {
  color: #FAFAFA;
}
.nav__link:active {
  border-bottom: 3px solid #F1CDB3;
  color: #FAFAFA;
}
/* hero */

.hero {
  min-height: 800px;
  max-height: 908px;
  background-image: url("../../assets/images/heroback.png") ;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__container {
  display: flex;
  padding-top: 180px;
}
.hero__content {
  max-width: 460px;
  padding-top: 163px;
}
.hero__title {
  font-weight: 400;
  margin-bottom: 42px;
  max-width: 70%;
  font-size: 44px;
  line-height: 57px;
  color: #FFFFFF;
}
.hero__descr {
  margin-bottom: 42px;
  font-family: 'Arial';
  font-size: 15px;
  line-height: 24px;
  color: #CDCDCD;
}
.hero__btn {
  padding: 15px 45px;
  border-radius: 100px;
  background: #F1CDB3;
  transition: 0.2s ease-in-out;
}
.hero__btn:hover {
  background: #FDDCC4;
}
.hero__link {
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #292929
}
.hero__image {
  max-height: 728px;
  margin-left: 42px;
}
.hero__image img {
  max-width: none;
}
/* * ABOUT */ 
.about__image {
  display: inline-block;
  margin-top: 80px;
  margin-bottom: 100px;
  margin-left: 175px;
}
.about__content {
  display: inline-block;
  margin-left: 117px;
  max-width: 430px;
  transform: translateY(-20px);
}
.about__title {
  margin-bottom: 25px;
  max-width: 90%;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
}
.about__descr {
  font-family: "Arial";
  font-size: 15px;
  line-height: 24px;
  color: #4C4C4C;
}
.about__descr:not(:last-child) {
  margin-bottom: 25px;
  
}
/* friends */

.friends {
  background: #F6F6F6;
}
.friends__container {
  position: relative;
  padding-top: 80px;
  padding-bottom: 100px;
}
.friends__pagination {
  position: absolute;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  transition: 0.2s ease-in-out;
}
.friends__pagination:hover {
  background: #FDDCC4;
}
.friends__pagination:nth-child(2) {
  bottom: 407px;
}
.friends__pagination:first-child {
  right: 39px;
  bottom: 407px;
}
.first {
  display: inline-block;
  width: 14px;
  height: 8px;
  background-image: url('../../assets/icons/arrow-right.svg');
  background-position: center;
  background-repeat: no-repeat;
}
.second {
  display: inline-block;
  width: 14px;
  height: 8px;
  background-image: url('../../assets/icons/arrow-left.svg'); 
  background-position: center;
  background-repeat: no-repeat;
}
.friends__wrap-title {
  text-align: center;
}
.friends__title {
  max-width: 35%;
  display: inline-block;
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
  transform: translate(-2px, -2px);
}
.friends__list {
  display: flex;
  padding-left: 105px;
  padding-bottom: 57px;
  gap: 90px;
}
.friends__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 30px;
  height: 435px;
  border-radius: 9px;
  background-color: #FAFAFA;
  transition: 0.2s ease-in-out;
  transform: translateY(-3px);
}
.friends__item:hover {
  background-color: #FFFFFF;
  
}
.friends__card-img {
  max-height: 270px;
}
.friends__card-img img {
  height: auto;
}

.friends__card-name {
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}
.friends__card-btn {
  margin-left: 41px;
  padding: 14px 44px;
  max-width: fit-content;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  text-align: center;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  transition: 0.2s ease-in-out;
}
.friends__item:hover .friends__card-btn {
  background-color: #F1CDB3;
}
.friends__card-btn__link {
  color: #292929;
}
.friends-wrap__btn-rest {
  text-align: center;
}
.friends__btn-rest {
  padding: 15px 45px;
  background: #F1CDB3;
  border-radius: 100px;
  transition: 0.2s ease-in-out;
}
.friends__link-rest {
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #292929;
}
.friends__btn-rest:hover {
  background: #FDDCC4;
}
/* HOw */
.help {
  background-color: #FFFFFF;
}
.help__container {
  padding-top: 80px;
  padding-bottom: 100px;
}
.help__wrap-title {
  text-align: center;
}
.help__title {
  display: inline-block;
  max-width: 30%;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
}
.help__wrap-list {
  padding: 0 87px;
}
.help__list-first {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 55px;
}
.help__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.help__item img {
  display: block;
  text-align: center;
}
.help__item-title {
  display: block;
  margin-top: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}
.help__list-second {
  display: flex;
  justify-content: space-between;
  padding: 0 84px;
} 
/* donation */
.donation {
  background-color: #F6F6F6;
}
.donation__container {
  display: flex;
  padding-top: 80px;
  padding-bottom: 100px;
}
.donation__image {
  margin-left: 142px;
  max-width: 505px;
  flex:  0 1 65%;
}
.donation__image img {
  object-fit: contain;
}
.donation__content {
  flex: 0 1 35%;
  margin-right: 142px;
  margin-left: 30px;
}
.donation__title {
  max-width: 300px;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
}
.donation__subtitle {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.06em;
  color: #545454;
}
.donation__wrap-bank {
  max-width: 350px;
  padding: 10px 15px;
  background: #F1CDB3;
  border-radius: 9px;
}
.donation__bank__icon {
  display: inline-block;
  background-image: url('../../assets/icons/credit-card.svg');
  width: 30px;
  height: 23px;
}
.donation__link {
  display: flex;
  justify-content: center;
}
.donation__bank {
  margin-left: 15px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}
.donation__descr {
  margin-top: 20px;
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
}
/* footer */ 
.footer {
  background-image: url('../../assets/images/footer-gradient-background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer__container {
  position: relative;
}
.footer__contacts {
  display: inline-block;
  margin-right: 151px;
}
.footer__location {
  display: inline-block;
}
.footer__contacts__title {
  margin-top: 56px;
  max-width: 285px;
}
.footer__title {
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
.footer__contacts__wrap-mail {
  display: flex;
  align-items: center;
  margin-top: 43px;
  margin-bottom: 43px;
}
.footer__contacts__wrap-phone {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}
.foooter__contacts__icon-mail {
  display: inline-block;
  margin-right: 20px;
  width: 40px;
  height: 26px;
  background-image: url('../../assets/icons/icon-email.svg');
  background-position: center;
  background-repeat: no-repeat;
}
.foooter__contacts__icon-phone {
  display: inline-block;
  margin-right: 20px;
  width: 40px;
  height: 32px;
  background-image: url('../../assets/icons/icon-phone.svg');
  background-position: center;
  background-repeat: no-repeat;
}
.footer__contacts__link {
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}
.footer__location__title {
  max-width: 270px;

}
.footer__location__locate {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 320px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}
.footer__location__wrap-first {
  display: flex;
  align-items: center;
  margin-top: 28px;
  margin-bottom: 37px;
  transform: translateY(4px);
}
.footer__location__wrap-second {
  display: flex;
  align-items: center;
}
.footer__location__icon-locate {
  display: inline-block;
  margin-right: 20px;
  width: 22px;
  height: 32px;
  background-image: url('../../assets/icons/icon-marker.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.footer__puppy-img {
  position: absolute;
  top: 40px;
  right: 40px;
  height: auto;
  object-fit: contain;
}

